<style>

    div, div img, a {
        margin: 0px;
    }

    a {
        height: 0px;
    }

    h1 strong a {
        color: silver;
    }
</style>
<div class="mainTitle" style="text-align: center; margin: 15px; padding: 0px;">
    <a href="@Url.Action("About")"><img src="~/Images/jeopardyLogo.png" alt="MVC Jeopardy" /></a>
</div>

<div class="MainBody" align="center" style="width: 80%; margin: 0 auto;">
        <ul id="homenav">
            <li><strong>@Html.ActionLink("Create Set", "Create", "Home")</strong></li>
            <li><strong>@Html.ActionLink("New Game", "Restart", "Board")</strong></li>
            <li><strong>@Html.ActionLink("Resume", "Index", "Board")</strong></li>
        </ul>
</div>